@media (max-width: 768px) {
  /* footer div {
    flex-wrap: wrap; /* 设置弹性容器在需要时换行 */
  /* } */
}

input {
  /* margin-top: -0px; 添加一些顶部间距 */
  width: 100%; /* 设置宽度为 100% */
  height: 100%;
  border: 1px solid #ccc; /* 设置边框 */
  padding: 2px; /* 设置内边距 */
  font-size: 14px; /* 设置字体大小 */
  color: #333; /* 设置文字颜色 */
}
textarea {
  width: 100%; /* 设置宽度为 100% */
  border: 1px solid #ccc; /* 设置边框 */
  padding: 2px; /* 设置内边距 */
  font-size: 14px; /* 设置字体大小 */
  color: #333; /* 设置文字颜色 */
}

select {
  border: 1px solid #ccc; /* 设置边框 */
  width: 200%; /* 设置宽度为 100% */
  height: 100%;
}
